*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
body{
    background-color: #1e1e1e;
    font-family: sans-serif;
    color: #a0a0a0;
    line-height: 1.6;
}
.main-container{
    display: grid;
    max-width: 1200px;
    grid-template-columns: 350px 1fr;
    gap: 50px;
    padding-top: 40px;
    margin: auto;
    
}
.sidebar{
    height: 90vh;
    background-color: #2e2e2e;
    border-radius: 16px;
    border: 1px solid #3e3e3e;
    padding: 40px;
    position: sticky;
    top: 40px;

}
.main-content{
    background-color: #2e2e2e;
    border-radius: 16px;
    border: 1px solid #3e3e3e;
    padding: 40px;
}
/* profile section */

.profile{
    text-align: center;
}
.profile img{
    height: 120px;
    width:120px;
    border-radius: 50%;
    border: 1px solid #3a3a3a;
}
.profile h2{
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 5px;
    color: #e0e0e0;
}
.profile p{
    background-color: #1e1e1e;
    padding:5px 15px;
    color: #ffbf00;
    border: 1px solid #3a3a3a;
    font-size: 0.8rem;
    border-radius: 8px;
    display: inline-block;
    margin-top: 1px;
}
 /* contact imformation section */
.contact{
    margin-top: 30px;
    border-top: 2px solid #3a3a3a;
    padding-top: 20px;

}
.label{
    font-weight: 500;
    font-size: 0.8rem;
    color: #a0a0a0;
}
.value{
    color:#e0e0e0;
    text-decoration: none;
}
.email{
    margin-bottom: 15px;
}
.Phone{
    margin-bottom: 15px;

}
.Location{
    margin-bottom: 15px;
}

/* social media icon */
.social{
     margin-top: 30px;
    border-top: 2px solid #3a3a3a;
    padding-top: 20px;
    text-align: center;
}
.social img{
    width: 24px;
    height: 24px;
    margin-left: 5px;
    filter: grayscale(1) invert(0.7);
    transition: filter 0.3s ease;
}
.social img:hover{
    filter: grayscale(0) invert(0);
}

/* main contant */

/* navigation bar */

.navigation{
   
     border-bottom: 2px solid #3a3a3a;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
nav{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}
nav a{
    text-decoration: none;
    color: #a0a0aa;
    font-weight: 500px;
    transition: color 0.3s ease;
   
}
.active {
    color: #ffbf00;
}
nav a:hover{
    color: #ffbf00;

}

.heading{

    color: #e0e0e0;
    font-size: 2rem;
    margin-bottom: 5px;
}
.line{
    width: 60px;
    height: 5px;
    background-color: #ffbf00;
    margin-bottom: 12px;
}
.content{
    text-align: justify;
    color: #a0a0a0;
}

#about{
    margin-bottom: 30px;
}

/* skill */
.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(120px,1fr));
    gap: 30px;
}
.item{
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #3a3a3a;
    background-color: #1e1e1e;
    text-align: center;
    margin-top: 15px;
    transition:  transform 0.3s ease , box-shadow 0.3s ease;
}
.item img{
    height: 48px;
    width:48px;
    filter: invert(75%)sepia(500%) saturate(1000%)hue-rotate(350deg)brightness(110%)contrast(101%);
    margin-bottom: 15px;
    
}

.item h3{
    font-size: 1rem;
    font-weight: 500;
}
.item:hover{
   transform: scale(1.1);
   box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3); 
}

#education{
    margin-top: 30px;
}
.edtech{
    position: relative;
    margin-top: 20px;
}
.year{
    font-size: 0.9rem;
    color: #a0a0a0;
    margin-bottom: 5px;
}
.degree{
    color: #e0e0e0;
    font-size: 1.2rem;
    margin-bottom: 5px;
    font-weight: 500;
}
.college{
    font-style: italic;
    color: #a0a0a0;
    margin-bottom: 10px;
}
.work{
    color: #a0a0a0;
}
.edfirst{
    margin-bottom: 15px ;
    position: relative;
    padding-left: 20px;
}
.goal{
    width: 15px; 
    height: 15px;
    border-radius: 50%;
    position: absolute;
    border: 3px solid #ffbf00;
    top: 3px;
    left: 0px;
    z-index: 5;
}
.liner{
    width: 2px ;
    position: absolute;
    top:0px;
    bottom: 0px;
    border: 2px solid #3a3a3a;
    left:5px
}

/* protfolio */
.project-container{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;

}
.project{
    background-color: #1e1e1e;
    border-radius: 12px;
    border: 1px solid #3a3a3a;
    overflow: hidden;
    transition: transform 0.5s ease , box-shadow 0.5s ease;
        
}


.project img{
    width:100% ;
    height: 180px;
    object-fit: cover;
}
.card{
    padding: 20px;

}
.card h3{
    color: #e0e0e0;
    margin-bottom: 10px;
}
.card p{
    color: #a0a0a0;
    line-height: 1.6;
    margin-bottom: 15px;

}
.project:hover{
    transform: translateY(-10px);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);

}
.card spam{
    background-color: rgba(255,191,0,0.1);
    color: #ffbf00;
    padding: 4px 8px;
    border-radius: 5px;
    font-size: 0.75rem;
    margin-right: 5px;
}
@media screen and (max-width:1200px) {
    .main-container{
        grid-template-columns: 1fr;
        padding: 20px;
    }

    .sidebar{
        position: static;
        height: auto;
    }
}

@media screen and (max-width:750px) {
    .project-container{
        grid-template-columns: 1fr;
    }

    #navigation nav {
        /* Adjust nav for smaller screens */
        justify-content: center;
        flex-wrap: wrap;
    }

    .sidebar{
        display: flex;
        justify-content: center;
        gap: 40px;
    }
}

